.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
  }
.ills{
width: 400px;
height: 300px;
}
.bt2{
  background: #F53838;
border-radius: 10px;
}

