
.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Navbar {
  width: 100%;
}
.Nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(8, auto);
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
/* Sign Up */
.signUp {
  border: 1px solid #f53855;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 10px 20px;
  
}
