
     
  .app {
    font-family: Rubik;
    font-style: normal;
  }
  h2 {
    font-size: 25px;
    line-height: 38px;
    margin: 0 auto;
  }
  
    
  /*media query*/
  @media (max-width: 890px) {
    h2 {
      font-size: 21px;
    }
    p {
      font-size: 15px;
    }
  }
 